version: '3.8'
services:
  postgres:
    image: postgres:15
    container_name: she_can_do_it_postgres
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: she_can_do_it_db
    volumes:
      - ${DB_VOLUME_PATH}:/var/lib/postgresql/data
